<div bmm-resize class="bmm-lib-preview">

	<div bmm-container-main class="bmm-player-target">

		<div bmm-container-header>
			<div class="bmm-wrapper">

				<div class="bmm-logo"></div>

				<div class="bmm-search">

					<input type="text" placeholder="Søk..."/>
					<input type="submit" value=""/>

				</div>

				<div class="bmm-options">

					<form>
						<select>
							<option>[==] DE</option>
							<option>[==] NB</option>
							<option>[==] DK</option>
							<option>[==] CH</option>
						</select>
					</form>

				</div>

			</div>
		</div>

		<div class="bmm-wrapper bmm-main-container">

			<div bmm-navigator-main>
				<div class="bmm-navigator-switch load"></div>
				<div class="bmm-minified-header">

					<div class="bmm-logo minified"></div>

					<div class="bmm-options">

						<form>
							<select>
								<option>[==] DE</option>
								<option>[==] NB</option>
								<option>[==] DK</option>
								<option>[==] CH</option>
							</select>
						</form>

					</div>

					<div class="bmm-search">
						<input type="text" placeholder="Søk..."/>
						<input type="submit" value=""/>
					</div>

				</div>

				<ul>

					<li>Button1</li>
					<li>Button2</li>
					<li>Button3</li>
					<li>Button4</li>
					<li>Button5</li>

				</ul>

			</div>

			<div bmm-navigator-playlist>
				<div class="bmm-navigator-switch load"></div>
				<div class="bmm-minified-header">

					<div class="bmm-logo minified"></div>

					<div class="bmm-options">

						<form>
							<select>
								<option>[==] DE</option>
								<option>[==] NB</option>
								<option>[==] DK</option>
								<option>[==] CH</option>
							</select>
						</form>

					</div>

					<div class="bmm-search">
						<input type="text" placeholder="Søk..."/>
						<input type="submit" value=""/>
					</div>

				</div>

				<h1>Spillelister</h1>

				<ul>

					<li>Playlist1</li>
					<li>Playlist2</li>
					<li>Playlist3</li>
					<li>Playlist4</li>
					<li>Playlist5</li>

				</ul>

				<h3>Ny spilleliste</h3>

				<ul>

					<li>Min1</li>
					<li>Min2</li>
					<li>Min3</li>
					<li>Min4</li>
					<li>Min5</li>

				</ul>

			</div>

			<div class="bmm-view">

				<div class="bmm-navigator-toggle load"></div>

			</div>

		</div>

	</div>

	<div bmm-player-controller>
	</div>

</div>