<div bmm-resize class="bmm-lib-preview">

	<div bmm-slider-list style="float: left;">
		<div> 
			<p>Title1</p>
			<ul>
				<li><a href="#">hdfgh</a></li>
				<li><a href="#">dfgss</a></li>
				<li><a href="#">fdgfdsgf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">gfdhf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">fgd</a></li>
				<li><a href="#">fdg</a></li>
				<li><a href="#">dfdsdffgsafdsf</a></li>
				<li><a href="#">dfdsddsafdsf</a></li>
			</ul>
		</div>
		<div> 
			<p>Title2</p>
			<ul>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">fgd</a></li>
				<li><a href="#">fdg</a></li>
				<li><a href="#">dfdsdffgsafdsf</a></li>
				<li><a href="#">dfdsddsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">hdfgh</a></li>
				<li><a href="#">dfgss</a></li>
				<li><a href="#">fdgfdsgf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">gfdhf</a></li>
			</ul>
		</div>
		<div> 
			<p>Title3</p>
			<ul>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
				<li><a href="#">dfdsafdsf</a></li>
			</ul>
		</div>
	</div>

	<div bmm-slider-image>
		<ul>
			<li style="background: green"></li>
			<li style="background: red"></li>
			<li style="background: blue"></li>
			<li style="background: yellow"></li>
			<li style="background: cyan"></li>
			<li style="background: silver"></li>
			<li style="background: orange"></li>
			<li style="background: pink"></li>
			<li style="background: gray"></li>
			<li style="background: black"></li>
		</ul>
	</div>

	<div bmm-slider-album>
		<ul>
			<li style="background: green"></li>
			<li style="background: red"></li>
			<li style="background: blue"></li>
			<li style="background: yellow"></li>
			<li style="background: cyan"></li>
			<li style="background: silver"></li>
			<li style="background: orange"></li>
			<li style="background: pink"></li>
			<li style="background: gray"></li>
			<li style="background: black"></li>
		</ul>
	</div>

	<div bmm-slider-video>
		<div class="bmm-videos">
			<div ng-repeat="v in vid">
				<div ng-click="go('/home')" style="background: red">
					<div class="bmm-slider-video-play"></div>
				</div>
				<p>
					<a ng-href="#test">t1</a>
				</p>
			</div>
		</div>
	</div>

</div>